.event-detail-container {
  width: 100vw;
  /*height: 100vh;*/
  display: flex;
  align-items: flex-start; /* 🔥 Allinea in alto */
  justify-content: center;
  background-color: #ffffff;
  padding-top: 20px; /* Aggiunto un piccolo padding sopra */
}

.event-detail-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90vw;
  max-width: 1200px;
  background: white;
  padding: 10px;
  box-shadow: none; /* 🔥 No box shadow */
}

.event-detail-image-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.event-detail-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
}

.favorite-button {
  position: absolute;
  padding: 10px;
  top: 30px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.event-detail-content {
  flex: 2;
  padding-left: 40px;
}

.event-detail-title {
  color: #6E32FF;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-detail-text {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
}

.event-detail-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.event-detail-link {
  color: #6E32FF;
  font-weight: bold;
  cursor: pointer;
  display: inline-block; 
  transition: transform 0.2s ease-in-out;
}

.event-detail-link:hover {
  transform: scale(1.03); 
}

.event-detail-buttons {
  display: flex;
  gap: 20px; /* 🔥 Spazio tra i bottoni */
  margin-top: 20px;
}

.event-detail-buttons .button-primary {
  background-color: #6E32FF; /* Colore viola per coerenza con il tema */
  color: white;
  border: none;
  max-width: 180px;
  transition: background 0.3s ease-in-out;
}

.event-detail-buttons .button-primary:hover {
  background-color: #000000; 
}

.event-detail-buttons .button-primary-outline {
  border: 2px solid #6E32FF; /* Mantiene il bordo viola */
  color: #6E32FF;
  max-width: 180px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.event-detail-buttons .button-primary-outline:hover {
  background-color: #6E32FF; 
  color: white;
}